<h1>Welcome to Scientists Index Page</h1><br>

<h2>Please make your selection bellow</h2><br>
<%= button_to "Create a new Scientist", new_scientist_path, method: :get %>


<ul>


<% @scientists.each do |scientist| %>
<li><%= link_to scientist.name, scientist_path(scientist) %></li>
<%end  %>

</ul>

